<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<title>Vodafone</title>



<div class="fixed-sn content">
  <div class="col-lg-10 ml-auto mr-auto">

    <mdb-carousel #carouselRef [isControls]="false" class="carousel-multi-item multi-animation " [type]="'carousel-multi-item'" [animation]="'slide'">
      <mdb-carousel-item  *ngFor="let a of variants; let index=index">
        <a (click)="carouselRef.previousSlide()" class="previous round">&#8249;</a>

        <!--Cant find a right way for display carousel perfect -->
        <div class="col-md-3"  *ngFor="let item of arrayOne(3); let i = index;" >
          <mdb-card>

            <mdb-card-img src="./assets/iphoneX.png"  alt="Card image cap"></mdb-card-img>

            <mdb-card-body>
              <mdb-card-title>
                <h4>{{a.name}}</h4>
              </mdb-card-title>
              <!--<p>{{tariff}</p>-->
              <p><b>{{a.priceGross}}€</b></p>
              <a mdbBtn color="black" class="waves-light" mdbWavesEffect>in den WarenKorb</a>

             </mdb-card-body>

          </mdb-card>

        </div>
        <a (click)="carouselRef.nextSlide()" class="previous round">&#8250;</a>

      </mdb-carousel-item>

    </mdb-carousel>


  </div>
</div>

</body>
</html>
