
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>
<div>
  <h1>Vodafone</h1>

  <div class="custom-slider">
    <p>Value:{{value}}</p>
    <div class="col-xs-4"><ng5-slider [(value)]="value" [options]="options"></ng5-slider></div>
  </div>

  <button routerLink="/carouselItemListComponent">Weiter</button>
  <router-outlet></router-outlet>
</div>
</body>
</html>
